name: Create Releases for Windows

on:
  workflow_dispatch:
    inputs:
      tag_name:
        description: 'Tag name'
        required: true
        type: string
      release_name:
        description: 'Release name'
        required: true
        type: string
        default: '${{ inputs.tag_name }}'

jobs:
  test-build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.14'

    - name: Set UTF-8 encoding for Windows
      run: |
        [Console]::OutputEncoding = [System.Text.Encoding]::UTF8
        $env:PYTHONIOENCODING = "utf-8"
        chcp 65001

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pillow pyinstaller

    - name: Set UTF-8 encoding for Windows
      run: |
        [Console]::OutputEncoding = [System.Text.Encoding]::UTF8
        $env:PYTHONIOENCODING = "utf-8"

    - name: Build executable with PyInstaller
      run: pyinstaller src/epub-thumbnailer.py --onefile --name=epub-thumbnailer --console --collect-all=PIL --clean

    - name: Move executable to current directory
      run: Move-Item -Path "dist\epub-thumbnailer.exe" -Destination ".\epub-thumbnailer.exe" -Force

    - name: Create ZIP archive
      shell: pwsh
      run: Compress-Archive -Path "epub-thumbnailer.exe", "README.md", "LICENSE" -DestinationPath epub-thumbnailer-x64.zip -Force

    - name: Generate SHA256 checksum
      if: steps.check_freedict_version.outputs.freedict_version != ''
      run: sha256sum epub-thumbnailer-x64.zip > epub-thumbnailer-x64.zip.sha256

    - name: Create GitHub Release and upload files
            uses: softprops/action-gh-release@v2
            with:
              tag_name: ${{ github.event.inputs.tag_name }}
              name: ${{ github.event.inputs.release_name }}
              files: epub-thumbnailer-x64.zip
              draft: false
              prerelease: true