name: Test building on Windows

on:
  workflow_dispatch:

jobs:
  test-build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.14'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pillow pyinstaller

    - name: Set UTF-8 encoding for Windows
      run: |
        [Console]::OutputEncoding = [System.Text.Encoding]::UTF8
        $env:PYTHONIOENCODING = "utf-8"

    - name: Build executable with PyInstaller
      run: pyinstaller src/epub-thumbnailer.py --onefile --name=epub-thumbnailer --console --collect-all=PIL --clean

    - name: Test
      run: |
        Invoke-WebRequest -Uri "https://www.gutenberg.org/ebooks/11.epub3.images" -OutFile alice_in_wonderland.epub
        \dist\epub-thumbnailer.exe "alice_in_wonderland.epub" cover.png 256